<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.9.8" xml:lang="en-US">
  <compounddef id="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper" kind="interface" language="Java" prot="public">
    <compoundname>com::gmp::hr::mapper::DepartmentMapper</compoundname>
    <derivedcompoundref refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl" prot="public" virt="non-virtual">com.gmp.hr.mapper.DepartmentMapperImpl</derivedcompoundref>
    <sectiondef kind="public-attrib">
      <memberdef kind="variable" id="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1a1268d5c308e79b5a428467bba6bee7b7" prot="public" static="no" mutable="no">
        <type><ref refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper" kindref="compound">DepartmentMapper</ref></type>
        <definition>DepartmentMapper com.gmp.hr.mapper.DepartmentMapper.INSTANCE</definition>
        <argsstring></argsstring>
        <name>INSTANCE</name>
        <qualifiedname>com.gmp.hr.mapper.DepartmentMapper.INSTANCE</qualifiedname>
        <initializer>= Mappers.getMapper(DepartmentMapper.class)</initializer>
        <briefdescription>
        </briefdescription>
        <detaileddescription>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="21" column="22" bodyfile="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" bodystart="21" bodyend="-1"/>
      </memberdef>
    </sectiondef>
    <sectiondef kind="public-func">
      <memberdef kind="function" id="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1ac21cbf00ffeab7075c6b1755ca9966cd" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>DepartmentDTO</type>
        <definition>DepartmentDTO com.gmp.hr.mapper.DepartmentMapper.toDTO</definition>
        <argsstring>(Department department)</argsstring>
        <name>toDTO</name>
        <qualifiedname>com.gmp.hr.mapper.DepartmentMapper.toDTO</qualifiedname>
        <reimplementedby refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl_1ac8074678e817e9446f14a0b3e7464740">toDTO</reimplementedby>
        <param>
          <type>Department</type>
          <declname>department</declname>
        </param>
        <briefdescription>
<para>将部门实体转换为DTO </para>
        </briefdescription>
        <detaileddescription>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>department</parametername>
</parameternamelist>
<parameterdescription>
<para>部门实体 </para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>部门DTO </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="35" column="19"/>
      </memberdef>
      <memberdef kind="function" id="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1a0f1e131c61156fdb83305d020ba4b9c9" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>Department</type>
        <definition>Department com.gmp.hr.mapper.DepartmentMapper.toEntity</definition>
        <argsstring>(DepartmentDTO dto)</argsstring>
        <name>toEntity</name>
        <qualifiedname>com.gmp.hr.mapper.DepartmentMapper.toEntity</qualifiedname>
        <reimplementedby refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl_1a5cd221a453858a25575f24ae0c7deaf2">toEntity</reimplementedby>
        <param>
          <type>DepartmentDTO</type>
          <declname>dto</declname>
        </param>
        <briefdescription>
<para>将部门DTO转换为实体 </para>
        </briefdescription>
        <detaileddescription>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>dto</parametername>
</parameternamelist>
<parameterdescription>
<para>部门DTO </para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>部门实体 </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="55" column="16"/>
      </memberdef>
      <memberdef kind="function" id="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1a0fbd8fa196935ee3bf6c912df532b5e8" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>List&lt; DepartmentDTO &gt;</type>
        <definition>List&lt; DepartmentDTO &gt; com.gmp.hr.mapper.DepartmentMapper.toDTOList</definition>
        <argsstring>(List&lt; Department &gt; departments)</argsstring>
        <name>toDTOList</name>
        <qualifiedname>com.gmp.hr.mapper.DepartmentMapper.toDTOList</qualifiedname>
        <reimplementedby refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl_1a9b05051aa10bb70ed9dfc53ae9d47fe9">toDTOList</reimplementedby>
        <param>
          <type>List&lt; Department &gt;</type>
          <declname>departments</declname>
        </param>
        <briefdescription>
<para>将部门实体列表转换为DTO列表 </para>
        </briefdescription>
        <detaileddescription>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>departments</parametername>
</parameternamelist>
<parameterdescription>
<para>部门实体列表 </para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>部门DTO列表 </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="63" column="10"/>
      </memberdef>
      <memberdef kind="function" id="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1aa750599185f7b993a96c02ff03dff553" prot="public" static="no" const="no" explicit="no" inline="no" virt="non-virtual">
        <type>Department</type>
        <definition>Department com.gmp.hr.mapper.DepartmentMapper.updateEntityFromDTO</definition>
        <argsstring>(DepartmentDTO dto, Department entity)</argsstring>
        <name>updateEntityFromDTO</name>
        <qualifiedname>com.gmp.hr.mapper.DepartmentMapper.updateEntityFromDTO</qualifiedname>
        <reimplementedby refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl_1a194e049aed41bba7b3c30c1ed8286a57">updateEntityFromDTO</reimplementedby>
        <param>
          <type>DepartmentDTO</type>
          <declname>dto</declname>
        </param>
        <param>
          <type>Department</type>
          <declname>entity</declname>
        </param>
        <briefdescription>
<para>更新部门实体 </para>
        </briefdescription>
        <detaileddescription>
<para><parameterlist kind="param"><parameteritem>
<parameternamelist>
<parametername>dto</parametername>
</parameternamelist>
<parameterdescription>
<para>部门DTO </para>
</parameterdescription>
</parameteritem>
<parameteritem>
<parameternamelist>
<parametername>entity</parametername>
</parameternamelist>
<parameterdescription>
<para>部门实体 </para>
</parameterdescription>
</parameteritem>
</parameterlist>
<simplesect kind="return"><para>更新后的部门实体 </para>
</simplesect>
</para>
        </detaileddescription>
        <inbodydescription>
        </inbodydescription>
        <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="88" column="16"/>
      </memberdef>
    </sectiondef>
    <briefdescription>
<para>部门实体与DTO映射接口 </para>
    </briefdescription>
    <detaileddescription>
<para><simplesect kind="author"><para>GMP Team </para>
</simplesect>
<simplesect kind="version"><para>1.0.0 </para>
</simplesect>
</para>
    </detaileddescription>
    <inheritancegraph>
      <node id="1">
        <label>com.gmp.hr.mapper.DepartmentMapper</label>
        <link refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper"/>
      </node>
      <node id="2">
        <label>com.gmp.hr.mapper.DepartmentMapperImpl</label>
        <link refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl"/>
        <childnode refid="1" relation="public-inheritance">
        </childnode>
      </node>
    </inheritancegraph>
    <collaborationgraph>
      <node id="1">
        <label>com.gmp.hr.mapper.DepartmentMapper</label>
        <link refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper"/>
        <childnode refid="2" relation="usage">
          <edgelabel>INSTANCE</edgelabel>
        </childnode>
      </node>
      <node id="2">
        <label>com.gmp.hr.mapper.DepartmentMapper</label>
        <link refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper"/>
        <childnode refid="2" relation="usage">
          <edgelabel>INSTANCE</edgelabel>
        </childnode>
      </node>
    </collaborationgraph>
    <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="19" column="18" bodyfile="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" bodystart="19" bodyend="89"/>
    <listofallmembers>
      <member refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1a1268d5c308e79b5a428467bba6bee7b7" prot="public" virt="non-virtual"><scope>com::gmp::hr::mapper::DepartmentMapper</scope><name>INSTANCE</name></member>
      <member refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1ac21cbf00ffeab7075c6b1755ca9966cd" prot="public" virt="non-virtual"><scope>com::gmp::hr::mapper::DepartmentMapper</scope><name>toDTO</name></member>
      <member refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1a0fbd8fa196935ee3bf6c912df532b5e8" prot="public" virt="non-virtual"><scope>com::gmp::hr::mapper::DepartmentMapper</scope><name>toDTOList</name></member>
      <member refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1a0f1e131c61156fdb83305d020ba4b9c9" prot="public" virt="non-virtual"><scope>com::gmp::hr::mapper::DepartmentMapper</scope><name>toEntity</name></member>
      <member refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper_1aa750599185f7b993a96c02ff03dff553" prot="public" virt="non-virtual"><scope>com::gmp::hr::mapper::DepartmentMapper</scope><name>updateEntityFromDTO</name></member>
    </listofallmembers>
  </compounddef>
</doxygen>
