<?xml version='1.0' encoding='UTF-8' standalone='no'?>
<doxygen xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="compound.xsd" version="1.9.8" xml:lang="en-US">
  <compounddef id="namespacecom_1_1gmp_1_1hr_1_1mapper" kind="namespace" language="Java">
    <compoundname>com::gmp::hr::mapper</compoundname>
    <innerclass refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapper" prot="public">com::gmp::hr::mapper::DepartmentMapper</innerclass>
    <innerclass refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1DepartmentMapperImpl" prot="public">com::gmp::hr::mapper::DepartmentMapperImpl</innerclass>
    <innerclass refid="interfacecom_1_1gmp_1_1hr_1_1mapper_1_1EmployeeMapper" prot="public">com::gmp::hr::mapper::EmployeeMapper</innerclass>
    <innerclass refid="classcom_1_1gmp_1_1hr_1_1mapper_1_1EmployeeMapperImpl" prot="public">com::gmp::hr::mapper::EmployeeMapperImpl</innerclass>
    <briefdescription>
    </briefdescription>
    <detaileddescription>
    </detaileddescription>
    <location file="hr-service/src/main/java/com/gmp/hr/mapper/DepartmentMapper.java" line="1" column="15"/>
  </compounddef>
</doxygen>
